/*Cabeçalho*/

.cabecalho {
    display: flex; /* Usa flexbox para alinhar os filhos em linha */
    background-color: #FBE80E; /* Cor de fundo do cabeçalho */
    width: auto;
    min-height: 70vh; /* Altura mínima do cabeçalho */
    align-items: center; /* Alinha verticalmente os itens ao centro */
    padding: 20px; /* Adiciona um preenchimento interno para evitar que o texto fique colado nas bordas */
}

.texto, h1, p {
    background-color: transparent; /* Define o fundo como transparente para os elementos texto, h1 e p */
    width: 700px; /* Define uma largura fixa para os elementos */
    padding: 20px; /* Adiciona um preenchimento interno aos elementos texto */
}

.texto p {
    font-size: 17px; /* Define o tamanho da fonte dos parágrafos */
}

.texto h1, i {
    background-color: transparent; /* Mantém o fundo transparente para os elementos h1 e i */
    font-family: "Rubik", sans-serif; /* Define a fonte específica para h1 e i */
}

.texto button {
    padding: 15px; /* Adiciona um preenchimento interno ao botão */
    margin: 15px; /* Adiciona uma margem ao redor do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Arredonda os cantos do botão */
}

#botao-1 {
    padding: 15px 70px; /* Padding superior/inferior e direito/esquerdo para o botão 1 */
    display: inline-block; /* Permite que o botão se comporte como um bloco, mantendo a centralização */
    text-align: center; /* Centraliza o texto horizontalmente dentro do botão */
    background-color: #65C306; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    font-size: 17px; /* Define o tamanho da fonte do botão */
}

#botao-1:hover {
    background-color: #54a306; /* Cor de fundo do botão quando o mouse passa sobre ele */
}

#botao-2 {
    padding: 15px 70px; /* Padding superior/inferior e direito/esquerdo para o botão 2 */
    display: inline-block; /* Permite que o botão se comporte como um bloco, mantendo a centralização */
    text-align: center; /* Centraliza o texto horizontalmente dentro do botão */
    background-color: transparent; /* Cor de fundo do botão */
    border: 3px solid black; /* Define uma borda preta de 3 pixels para o botão */
    cursor: pointer; /* Muda o cursor para indicar que o botão é clicável */
    font-size: 17px; /* Define o tamanho da fonte do botão */
}

#botao-2:hover {
    background-color: #2929296c; /* Cor de fundo do botão 2 quando o mouse passa sobre ele */
}

.imagem {
    background-color: transparent; /* Mantém o fundo transparente para o contêiner de imagem */
}

.imagem img {
    box-shadow: -29px 19px 33px -26px rgba(0,0,0,0.75); /* Adiciona sombra à imagem */
    background-color: transparent; /* Mantém o fundo transparente para a imagem */
    border-radius: 40px; /* Arredonda os cantos da imagem */
    margin-left: 100px; /* Adiciona uma margem à esquerda da imagem */
}