@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Variáveis de cor */
:root {
    --yellow: #FBE80E;
    --green: #55AA00;
    --light-green: #72D60F;
    --mostarda: #D3C203;
}

/* Estilo Global */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

h1, h2 {
    color: var(--mostarda);
    font-size: 40px;
}

/* Navbar */
nav {
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--yellow);
    position: fixed;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
}

nav img {
    width: 170px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}

li a:hover {
    color: rgb(82, 82, 82);
}

nav .botao {
    margin-right: 30px;
    padding: 10px;
    width: 90px;
    border: none;
    background-color: var(--green);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

nav .botao:hover {
    cursor: pointer;
    background-color: #509609;
}

/* Cabeçalho */
.cabecalho {
    display: flex;
    background-color: var(--yellow);
    min-height: 70vh;
    align-items: center;
    padding: 20px;
    margin-bottom: -30px;
}

.texto h1, .texto p {
    padding: 20px;
}

.texto p {
    font-size: 17px;
    margin-bottom: 15px;
}

.texto h1, .texto i {
    color: black;
    font-family: "Rubik", sans-serif;
}

.texto a {
    padding: 15px;
    margin: 15px;
    border: none;
    border-radius: 5px;
}

#botao-1 {
    padding: 18px 70px;
    background-color: var(--green);
    color: white;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
}

#botao-1:hover {
    background-color: #54a306;
}

#botao-2 {
    padding: 15px 70px;
    background-color: transparent;
    border: 3px solid black;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
    color: inherit;
}

#botao-2:hover {
    background-color: #2929296c;
}

.imagem img {
    box-shadow: -29px 19px 33px -26px rgba(0,0,0,0.75);
    border-radius: 40px;
    margin-left: 100px;
}

/* Cuidados */
.cuidados {
    background-color: #FFFABC;
    padding: 40px;
    border-radius: 25px;
}

.title {
    text-align: center;
}

.div-cuidados {
    display: flex;
    align-items: center;
    padding: 80px 20px;
}

.img-cuidados {
    width: 500px;
}

.txt-modelo {
    padding: 10px 25px;
}

.p-cuidados {
    color: rgb(51, 51, 51);
    padding-bottom: 25px;
    line-height: 35px;
    font-size: 19px;
}


.txt-limpeza p, .txt-pq-limpar p {
    text-align: left;
}

/* Calcular CEP */
.container-cep {
    margin-top: -30px;
    background-color: #D2FFA6;
    border-radius: 25px;
    height: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-cep p {
    color: var(--light-green);
    font-weight: 700;
    text-decoration: underline;
}

.container-cep .div-cep {
    background-color: white;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.342);
    border-radius: 25px;
    width: 450px;
    height: 130px;
    padding: 25px;
    margin: 40px;
}

.div-cep p {
    color: #6A6A6A;
    font-size: 14px;
    padding: 18px;
    text-align: left;
}

.calc-cep {
    display: flex;
    align-items: center;
}

.calc-cep fieldset {
    width: 70%;
    height: 50px;
    text-align: left;
}

.calc-cep .btn-cep {
    background-color: var(--light-green);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    width: 90px;
    height: 40px;
}

.btn-cep:hover {
    background-color: var(--green);
    cursor: pointer;
}

/* Antes e Depois */
.antes-depois {
    margin: 70px;
}

.antes-depois h1 {
    color: var(--light-green);
    font-size: 35px;
    font-weight: 700;
    padding: 0 90px 30px;
}

.antes-depois div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.antes-depois div img {
    max-width: 450px;
    padding: 10px;
}

/*Perguntas*/
.perguntas {
    padding: 80px;
}

.p-perguntas {
    color: rgb(51, 51, 51);
    padding-bottom: 25px;
    line-height: 40px;
    font-size: 19px;
}

.p-perguntas h1{
    margin-bottom: 30px;
}

/*Perguntas*/
.faq-container {
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .faq-item {
    border-top: 1px solid #ddd;
  }

  .faq-item:first-child {
    border-top: none;
  }

  .faq-question {
    display: flex;
    padding: 15px;
    cursor: pointer;
    background-color: #f9f9f9;
    font-weight: bold;
    color: #918505;
  }

  .faq-question i {
    margin-right: 15px;
  }

  .faq-question:hover {
    background-color: #e9e9e9;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: #fff;
    font-size: 0.95em;
    color: #333;
    transition: max-height 0.4s ease, padding 0.4s ease;
  }

  /* Classe para expandir a resposta */
  .faq-item.active .faq-answer {
    max-height: 200px; /* Ajuste conforme o conteúdo */
    padding: 15px;
  }

/* Rodapé */
footer {
    background-color: #fbe70e1c;
    font-size: 13px;
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 150px;
    padding-right: 30px;
}

/* Estilos responsivos */
@media (max-width: 1000px) {
    .cuidados {
        padding: 30px 10px;
    }
    
    .img-cuidados {
        width: 350px;
    }
}

@media (max-width: 840px) {
    .antes-depois p {
        padding: 0 0 20px;
    }

    .antes-depois div img {
        max-width: 280px;
    }

    .img-form {
        display: none;
    }
}

@media (max-width: 800px) {
    .div-cuidados {
        padding: 45px 5px;
    }
}
