@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { /* Aplica estilo global a todas as tags */
    font-family: "Inter", sans-serif; /* Fonte padrão */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento interno padrão */
}

body {
    background-color: white;
}

/*Navbar*/

nav {
    top: 0;
    height: 50px; /* Altura da barra de navegação */
    display: flex; /* Alinha elementos na barra de navegação */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px; /* Espaçamento interno */
    background-color: #FBE80E; /* Cor de fundo da barra */
    position: fixed; /* Fixar a barra no topo */
    width: 100%; /* Ocupar toda a largura da tela */
    z-index: 1000; /* Manter a barra acima de outros elementos */
    justify-content: space-between; /* Espaça os itens de maneira adequada */
}

nav img {
    width: 170px; /* Largura da imagem (logo) */
}

nav ul {
    list-style: none; /* Remove marcadores da lista */
    display: flex; /* Alinha itens da lista em linha */
    flex-grow: 1; /* Permite que a lista ocupe o espaço restante */
    justify-content: center; /* Centraliza os itens da lista horizontalmente */
}

nav li {
    margin: 0 15px; /* Espaçamento entre itens da lista */
    
}

 li a {
    text-decoration: none;
    font-weight: bold; /* Texto em negrito */
    color: black;
    transition: 0.5s;
}

li a:hover{
    color: rgb(82, 82, 82);
}

nav .botao {
    margin-right: 30px;
    padding: 10px;
    width: 90px;
    border: none;
    background-color: var(--green);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

nav .botao:hover {
    cursor: pointer;
    background-color: #509609;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: #FBE80E;
}

header h1 {
    color: rgb(59, 59, 59);
}

article {
    border-radius: 80px;
    background-color: white;
    margin-top: -80px;
}

.container {
    padding: 150px;
    height: auto;
    justify-content: space-evenly;
    display: flex;
}

/* Formulário */

.form h4 {
    margin-bottom: 20px;
}

form {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    outline: none;
}

fieldset {
    font-size: 14px;
    width: auto;
    padding: 0 6px 0 15px;
    margin: 10px 0;
    border: solid 1.5px #ccc;
    border-radius: 5px;
}

fieldset:hover {
    border: solid 1px black;
}

input, textarea {
    font-size: 12px;
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
}

textarea {
    height: 90px;
}

input {
    width: 96%;
}

.check h5 {
    margin: 10px 0px 20px;
}

.check input {
    width: 30px;
    margin-bottom: 15px;
}

.check label {
    font-size: 13px;
}

.form-btn {
    font-size: 20px;
    width: auto;
    background-color: #FBE80E;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn:hover {
    background-color: #bdaf17;
}

/* Card de Contato */

.telefone article {
    border-radius: 20px;
    background-color: #0000000c;
    padding: 25px 25px 0 25px;
    width: 250px;
    margin: 0;
}

.conteudo {
    width: auto;
}

.conteudo, p, h3, button {
    margin-bottom: 15px;
}

.telefone p {
    padding: 0;
    color: rgb(95, 95, 95);
}

.telefone h3 {
    color: #D3C203;
}

.telefone button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FBE80E;
    cursor: pointer;
    transition: 0.3s;
}

.telefone button:hover {
    background-color: #bdaf17;
}

/* RODAPÉ */
footer { 
    background-color: #fbe70e1c;
    font-family: "Inter", sans-serif; /* Estilo da Fonte */
    font-size: 13px; /* Tamanho da fonte */
    bottom: 0; /* Posiciona no final da página */
    height: 170px; /* Altura do rodapé */
    width: 100%; /* Largura total do rodapé */
    display: flex; /* Layout flexível */
    align-items: center; /* Alinhamento vertical */
    justify-content: center; /* Centraliza horizontalmente */
}

footer > img {
    width: 150px; /* Largura da imagem do rodapé */
    padding-right: 30px; /* Margem direita */
}
