/* FORMULÁRIO */
.form-container {
    max-width: 100%; /* Largura total do contêiner */
    height: auto; /* Altura automática para ser responsivo */
    display: flex; /* Layout flexível */
    align-items: stretch; /* Alinhamento vertical completo */
    justify-content: space-between; /* Espaçamento entre os itens */
    background-color: var(--yellow); /* Cor de fundo */
}

.img-form {
    width: 50%; /* Largura da imagem definida como 50% */
    display: flex; /* Layout flexível */
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.img-form > img {
    max-width: 100%; /* Largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

.form-div {
    width: 50%; /* Largura do formulário definida como 50% */
    display: flex; /* Layout flexível */
    flex-direction: column; /* Direção vertical para o formulário */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Adiciona um preenchimento interno */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

form {
    margin-left: 30%;
    background-color: white; /* Cor de fundo do formulário */
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.24); /* Sombra do formulário */
    width: 270px; /* Largura do formulário */
    height: auto; /* Altura do formulário */
    border-radius: 15px; /* Cantos arredondados */
    padding: 15px; /* Preenchimento interno */
    display: flex; /* Layout flexível */
    flex-direction: column; /* Direção vertical */
    align-items: center; /* Centralização vertical */
    outline: none; /* Remove a borda de foco */
}

form > p {
    font-weight: 800; /* Peso da fonte */
}

fieldset {
    font-size: 11px; /* Tamanho da fonte */
    width: 80%; /* Largura total do fieldset */
    padding: 0 6px 0 15px; /* Preenchimento interno */
    margin: 10px 0; /* Margem ao redor */
    border: solid 1.5px #ccc; /* Borda */
    border-radius: 10px; /* Cantos arredondados */
}

input, textarea {
    font-size: 10px; /* Tamanho da fonte */
    width: 100%; /* Largura total do input e textarea */
    border: none; /* Borda */
    padding: 10px; /* Preenchimento interno */
    outline: none; /* Remove a borda de foco */
    background-color: transparent; /* Define o fundo transparente */
    border-radius: 5px; /* Cantos arredondados */
}

#msg {
    height: 100px; /* Altura do textarea */
    width: 220px; /* Largura da mensagem */
    font-size: 10px; /* Tamanho da fonte */
    padding-bottom: 100px; /* Preenchimento inferior */
    border: solid 0; /* Sem borda */
}

#form-btn {
    background-color: var(--light-green); /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418); /* Sombra do texto */
    font-size: 13px; /* Tamanho da fonte */
    padding: 5px; /* Preenchimento interno */
    margin-top: 20px; /* Margem superior */
    width: 150px; /* Largura do botão */
    height: 30px; /* Altura do botão */
    border-radius: 5px; /* Cantos arredondados */
    border: none; /* Sem borda */
}

#form-btn:hover {
    background-color: var(--green); /* Cor do botão ao passar o mouse */
    cursor: pointer; /* Cursor em forma de ponteiro */
}
